.idea/
ludos.egg-info/
__pycache__/
.ipynb_checkpoints/
extra/
logs/
examples/innovation/data
examples/wise_otherwise/data
anvil/
.anvil-data/
.data
ludos/games/wise_otherwise/data/
ludos/games/dixit/data/
ludos/games/mysterium/data/
ludos/games/shasn/data/
